.number {
  color: #a1d9ee;
}
.dense-table-row td,
.dense-table-row th {
  max-width: 10em;
}
.dense-table-row input,
.dense-table-row .MuiSelect-select {
  padding: 0 0.5em;
  text-align: right;
}
.dense-table-row .MuiSelect-select p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
